@import 'tailwindcss';

@theme {
  --color-white: #ffffff;
  --color-black: #000;

  --color-gray-100: #e1e1e6;
  --color-gray-200: #a9a9b2;
  --color-gray-400: #7c7c8a;
  --color-gray-500: #505059;
  --color-gray-600: #323238;
  --color-gray-700: #29292e;
  --color-gray-800: #202024;
  --color-gray-900: #121214;

  /* Cores inspiradas na Via Láctea */
  --color-blue-cosmic: #0d1b2a; /* Azul Cósmico */
  --color-purple-nebula: #5e2bff; /* Roxo Nebuloso */
  --color-blue-stellar: #1b6ca8; /* Azul Estelar */
  --color-pink-galactic: #ff4f8b; /* Rosa Galáctico */
  --color-white-celestial: #f8f9fa; /* Branco Celestial */
  --color-yellow-solar: #ffd700; /* Amarelo Solar */
  --color-red-stellar: #8e6e70;
  /* Cores adicionais */
  --color-green-deep-space: #0d3b2e; /* Verde Profundo do Espaço */
  --color-red-comet: #d55c5c; /* Vermelho de Cometa */
  --color-purple-star-dust: #a34dff; /* Pó de Estrela */
  --color-black-hole: #111111; /* Preto de Buraco Negro */
  --color-blue-nebula: #3d67a6; /* Azul Nebuloso */
  --color-orange-supernova: #ff6f20; /* Laranja Supernova */
  --color-gray-cosmic-fog: #b1afa1; /* Névoa Cósmica */
  --color-gray-asteroid: #8a8a8a; /* Cinza de Asteroide */
  --color-silver-galactic: #c0c0c0; /* Prata Galáctica */
  --color-blue-sirius: #a3e0f5;

  /* Cores temáticas */
  --color-primary: var(--color-blue-stellar);
  --color-primary-contrast: var(--color-white-celestial);
  --color-secondary: var(--color-purple-nebula);
  --color-secondary-contrast: var(--color-gray-100);
  --color-accent: var(--color-blue-sirius);

  /* Cores de fundo */
  --color-background: var(--color-gray-800);
  --color-paper: var(--color-gray-700);

  /* Cores de texto */
  --color-text: var(--color-gray-100);
  --color-text-muted: var(--color-gray-200);
  --color-text-error: var(--color-red-comet);

  /* Cores para botões e interações */
  --color-button-primary: var(--color-yellow-solar);
  --color-button-primary-hover: var(--color-orange-supernova);
  --color-button-secondary: var(--color-purple-nebula);
  --color-button-secondary-hover: var(--color-blue-nebula);

  /* Cores de estado e destaque */
  --color-success: var(--color-green-deep-space);
  --color-warning: var(--color-orange-supernova);
  --color-error: var(--color-red-comet);

  /* Outras cores */
  --color-border: var(--color-gray-asteroid);
  --color-overlay: rgba(0, 0, 0, 0.5); /* Sobreposição escura */
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--color-gray-800);
    --color-paper: var(--color-gray-700);
    --color-text: var(--color-white-celestial);
    --color-text-accent: var(--color-blue-sirius);
    --color-text-muted: var(--color-gray-200);
    --color-border: var(--color-gray-asteroid);
    --color-primary: var(--color-blue-stellar);
    --color-secondary: var(--color-purple-nebula);
    --color-accent: var(--color-blue-sirius);
    --color-button-primary: var(--color-blue-stellar);
    --color-button-secondary: var(--color-purple-nebula);
    --color-overlay: rgba(0, 0, 0, 0.5);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --color-background: var(--color-gray-100);
    --color-paper: var(--color-white);
    --color-text: var(--color-gray-900);
    --color-text-muted: var(--color-gray-500);
    --color-border: var(--color-gray-400);
    --color-primary: var(--color-blue-stellar);
    --color-primary-contrast: var(--color-blue-cosmic);
    --color-secondary: var(--color-purple-nebula);
    --color-secondary-contrast: var(--color-white-celestial);
    --color-accent: var(--color-orange-supernova);
    --color-button-primary: var(--color-yellow-solar);
    --color-button-primary-hover: var(--color-orange-supernova);
    --color-button-secondary: var(--color-purple-star-dust);
    --color-button-secondary-hover: var(--color-purple-nebula);
    --color-success: var(--color-green-deep-space);
    --color-warning: var(--color-orange-supernova);
    --color-error: var(--color-red-comet);
    --color-overlay: rgba(255, 255, 255, 0.7);
  }
}

body {
  background-image: url('../../public/sirius.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: var(--color-background);
  font-family: Arial, Helvetica, sans-serif;
  color: var(--color-text);
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.15); /* ajuste da opacidade */
  z-index: -1;
}

header {
  text-align: center;
}
